<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>テストページ</title>
  </head>
<body>
  <h1>main page</h1>
  <%= form_with url: calculate_path, html: { method: :post, multipart: true } do |f| %>
    # <%= f.file_field :data %>
    # <%= f.submit 'Upload' %>
    
    <h2>Data Transformation</h2>
    <%= f.radio_button :DataTransform, "A1" %>
    <%= f.label :DataTransform_A1, "A1", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "A2" %>
    <%= f.label :DataTransform_A2, "A2", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "A3" %>
    <%= f.label :DataTransform_A3, "A3", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "B1" %>
    <%= f.label :DataTransform_B1, "B1", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "B2" %>
    <%= f.label :DataTransform_B2, "B2", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "Fi" %>
    <%= f.label :DataTransform_Fi, "Fi", style: "display: inline-block;" %>
    <%= f.radio_button :DataTransform, "Fr" %>
    <%= f.label :DataTransform_Fr, "Fr", style: "display: inline-block;" %>
    
    <h2>Threshold Name</h2>
    <%= f.radio_button :ThresholdName, "ut" %>
    <%= f.label :ThresholdName_ut, "ut", style: "display: inline-block;" %>
    <%= f.radio_button :ThresholdName, "lut" %>
    <%= f.label :ThresholdName_lut, "lut", style: "display: inline-block;" %>
    <%= f.radio_button :ThresholdName, "lht" %>
    <%= f.label :ThresholdName_lht, "lht", style: "display: inline-block;" %>
    
    <h2>Threshold Mode</h2>
    <%= f.radio_button :ThresholdMode, "s" %>
    <%= f.label :ThresholdMode_s, "s", style: "display: inline-block;" %> 
    <%= f.radio_button :ThresholdMode, "h" %>
    <%= f.label :ThresholdMode_h, "h", style: "display: inline-block;" %>
    
    <%= f.submit "Submit" %>
  <% end %>
</body>
</html>
